﻿<script src="https://code.jquery.com/jquery-1.12.3.js"></script>




<div id="responses"></div>
<script>
function callApi(data) {
         //   console.log("Calling: " + method + ", data:" + JSON.stringify(data));
            $.ajax({ // call api
                method: 'POST',
                url: 'http://cafe-co.cz/api/CoffeMaker/',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
            }).then(function successCallback(response) {
                console.log(response);
                $("#responses").prepend("RESPONSE: " + JSON.stringify(response) + "<br /><br />");
                //done();

            }, function error(error) {
                console.log(error);
                $("#responses").prepend("Error:" + JSON.stringify(error) + "<br /><br />");
                //done();
            });
}
var data = {
   
        id: 0,
        description: "test",
        latitude: 0,
        longitude: 0
    
};
callApi(data);
</script> 
